<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Income Calculator</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css"
    />

    <style>
      .alert {
        background: rgba(218, 39, 39, 0.815);
        padding: 1rem;
        border-radius: 5px;
        color: white;
        margin: 1rem;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h3>Income Calculator</h3>
    </div>
  


    
    <!-- Form -->
    <div class="container">

      {% for message in get_flashed_messages() %}
      <div class="alert alert-warning">
            {{ message }}
      </div>
      {% endfor %}

      <form action="/send" method="POST" autocomplete="off">

        <div class="row">


          <div class ="four columns">
            <label for="Income Type">Monthly or Annual Income</label>
            <select class="u-full-width" name="Income Type">
              <option value="Monthly">Monthly</option>
              <option value="Annual">Annual</option>
            </select>

          </div>

          <div class="four columns">
              <label for="Income Amount">Income Amount</label>
            <input
              type="text"
              placeholder="$"
              class="u-full-width"
              name="Income Amount"
            />
          </div>
        </div>

        

        <div class="row">
          <div class="four columns">
            <label for="Household Size">Household Size</label>
            <input
              type="text"
              placeholder="#"
              class="u-full-width"
              name="Household Size"
            />
          </div>
          <div class="four columns">
            
          </div>
        </div>
        
        

        <input type="submit" value="Calculate" id="calc_btn" />
        <br />

          
      </form>
      <table class="u-full-width">
        <thead>
          <tr>
            <th>Household Size</th>
            <th>Income</th>
            <th>Federal Poverty Level</th>
            <th>State Median Income</th>
            <th>Area Median Income</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{household_size}}</td>
            <td>{{annual_income}}</td>
            <td>{{ fpl }}</td>
            <td>{{ smi }}</td>
            <td>{{ ami }}</td>
          </tr>

        </tbody>
      </table>
      <!--
      <table>
        <tr>
          <td>Federal Poverty Level:</td>
          <td>{{ fpl }}</td>
        </tr>
        <tr>
          <td>State Median Income:</td>
          <td>{{ smi }}</td>
        </tr>
        <tr>
          <td>Area Median Income:</td>
          <td>{{ ami }}</td>
        </tr>
      </table>
      -->
    </div>
  
    
  </body>
</html>