<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Income Calculator</title>
    <!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">-->
  </head>

  <body>
    <div class="container">
      <header>
        <h1> 2-1-1 Income Calculator </h1>
      </header>

      <form method="POST" action="/">
        {{ form.csrf_token }}

        <div class="formdata">
          <h4>Required Fields:</h4>


          <div class="household_size">

            {{ form.household_size.label }}
            {{ form.household_size(class='enter_household_size', placeholder='#') }}

            {% if form.household_size.errors %}
            <ul class="errors">
                {% for error in form.household_size.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}

          </div>

          <div class="household_income">

            {{ form.income_type(class='select_income_type') }}
 
            {{ form.income_amount.label }}
            {{ form.income_amount(class='enter_income', placeholder='$') }}

            {% if form.income_amount.errors %}
              <ul class="errors">
                  {% for error in form.income_amount.errors %}
                      <li>{{ error }}</li>
                  {% endfor %}
              </ul>
            {% endif %}
          </div>


          <div class="optional_fields">
            <h4>Optional Fields:</h4>

            <div class="children_in_household">

              {{ form.has_children.label }}
              {{ form.has_children() }}

            </div>

            <div class="monthly_rent">

              {{ form.monthly_rent.label }}
              {{ form.monthly_rent() }}

              {% if form.monthly_rent.errors %}
                <ul class="errors">
                    {% for error in form.monthly_rent.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
              {% endif %}
              
            </div>

            <div class="client_dob">

              {{ form.client_dob.label }}
              {{ form.client_dob() }}

              {% if form.client_dob.errors %}
              <ul class="errors">
                  {% for error in form.client_dob.errors %}
                      <li>{{ error }}</li>
                  {% endfor %}
              </ul>
              {% endif %}

            </div>

          </div>

          <button class="calculate" 
            type="submit" 
            value="Calculate" 
            id="calc_btn">
            Calculate
          </button>

        </div>

      </form>

      <div class="income_measures">
        FPL: {{ client.fpl }}
        SMI: {{ client.smi }}
        AMI: {{ client.ami }}
      </div>

      <div class="age">
        Age: {{ client.age }}
      </div>

      <div class="program_eligibility">
        HSP Eligible: {{ eligibility.hsp }}
      </div>
    </div>
  </body>
</html>