<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Income Calculator</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{url_for('static', filename='calculate_age.js')}}"></script>
  </head>

  <body>
    <div class="container">

      <header>
        <h1> 2-1-1 Income Calculator </h1>
      </header>

      <form method="POST" action="/">
        {{ form.csrf_token }}

        <div class="formdata">

          <div class="get-age">
            <label for="dob_field" class="form-label">Get age from DOB: </label>
            <input 
                type="date" 
                id="dob_field" 
                name="dob_field" 
                min="1900-01-01" 
                onchange="calculate_age(event);"
              />


            <script>
              document.getElementById("dob_field").max = new Date().toLocaleDateString('en-ca');
            </script>
          </div>

          <div class="age_result" id="age_result" class='form-input'> 
            {% if client.age %}   
            {{ client.age }} 
            {% endif %}
          </div>


          <h4>Required Fields for Income Calculation:</h4>

          <div class="household_size">

            {{ form.household_size.label }}
            {{ form.household_size(class='form-input', autocomplete="off", placeholder='#') }}

            {% if form.household_size.errors %}
            <ul class="errors">
                {% for error in form.household_size.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}

          </div>

          <div class="household_income">

            {{ form.income_type(class='select_income_type') }}
            <div class="income_label">
              {{ form.income_amount.label }}
            </div>
            <div class="income_amount">
              {{ form.income_amount(class="enter_income", autocomplete="off") }}
            </div>

            {% if form.income_amount.errors %}
              <ul class="errors">
                  {% for error in form.income_amount.errors %}
                      <li>{{ error }}</li>
                  {% endfor %}
              </ul>
            {% endif %}
          </div>




          <h4>Optional Fields for Program Eligibility:</h4>

          <div class="children_in_household">

            {{ form.has_children.label }}
            {{ form.has_children(class='checkmark') }}


          </div>

          <div class="monthly_rent">

            {{ form.monthly_rent.label }}
            {{ form.monthly_rent(autocomplete="off") }}

            {% if form.monthly_rent.errors %}
              <ul class="errors">
                  {% for error in form.monthly_rent.errors %}
                      <li>{{ error }}</li>
                  {% endfor %}
              </ul>
            {% endif %}
          </div>

          
          <button class="calculate" 
              type="submit" 
              value="Calculate" 
              id="calc_btn">
              Calculate
          </button>

        </div>



      </form>
      <div class="results">

        <div class="income_measures">
          {% if client.fpl %}

          <div class="fpl">FPL: {{ '{:.0%}'.format(client.fpl) }}</div>
          <div class="smi">SMI: {{ '{:.0%}'.format(client.smi) }}</div>
          <div class="ami">AMI: {{ '{:.0%}'.format(client.ami) }}</div>

          {% endif %}
        </div>

        <div class="program_eligibility">
          
          {% if client.programs %}
          <p>May be eligible for * </p>
      
              {% for program in client.programs %}
                  <div class="programs"> {{ program }} </div>
              {% endfor %}
        
          * Based on reported income
          {% endif %}

        </div>
      </div>
    </div>
  </body>
</html>