<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Income Calculator</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  </head>

  <body>
    <div class="container">
      <header>
        <h1> 2-1-1 Income Calculator </h1>
      </header>
      <form action="/" method="POST" autocomplete="off">

        <div class="formdata">

          <div class="household_income">

            <select class="select_income_type" name="select_income_type">
              <option value="Monthly">Monthly</option>
              <option value="Annual">Annual</option>
            </select>
 
            <label for="enter_income">Income Amount</label>
            <input id="enter_income" type="text" placeholder="$" name="enter_income" />

          </div>

          <div class="household_size">

            <label for="household_size_input">Household Size</label>
            <input id="household_size_input" type="number" placeholder="#" name="household_size" />

          </div>

   

          <div class="optional_fields">
            <h4>Optional Fields:</h4>

            <div class="children_in_household">
              <label for="has_children">Children in Household</label>
              <input id="has_children" type="checkbox" name="children" value="yes">
            </div>

            <div class="monthly_rent">
              <label for="enter_rent">Monthly Rent</label> 
              <input id="enter_rent" type="text" placeholder="$" name="monthly_rent">
              
            </div>

          </div>

          <button class="calculate" 
            type="submit" 
            value="Calculate" 
            id="calc_btn">
            Calculate
          </button>



        </div>

      </form>

      <table>
        <thead>
          <tr>
            <th>Household Size</th>
            <th>Income</th>
            <th>Federal Poverty Level</th>
            <th>State Median Income</th>
            <th>Area Median Income</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{household_size}}</td>
            <td>{{annual_income}}</td>
            <td>{{ fpl }}</td>
            <td>{{ smi }}</td>
            <td>{{ ami }}</td>
          </tr>
        </tbody>
      </table>

    </div>
  </body>
</html>