body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: rgb(0, 0, 0);
  max-width: 500px;
  margin: auto;
  padding: 10px;
}

header {
  font-size: .65em;
}
div {
  margin-bottom: 10px;
}

.income_label {
  display: inline-block;
  width: 10.4rem;
}
label {
  display: inline-block;
  width: 15rem;
}
input {
  padding: 5px 10px;
  width: 7.5rem;
  font-size:1rem;

}

.select_income_type {
  padding: 10px 0px;
  cursor: pointer;
}

.enter_income {
  padding-left: 1.5rem;
  width: 7.2rem;
}
.income_amount {
  position: relative;
  display: inline;

}
.income_amount:before {
  content: '$';
  position: absolute;
  top: 0;
  left: .75rem;
  z-index: 1;
}

.children_in_household input {
  cursor: pointer;
  height: 1.5rem;
  width: 1.5rem;
  margin-left: auto;

}


.age_result {
}
.calculate {
  display: inline-block;
  padding: 7px 12.5px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 10px;
  box-shadow: 0 9px #999;
}

.calculate:hover {background-color: #3e8e41}

.calculate:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.income_measures {
  display: grid;
  width: 80%;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 1rem;

  
  font-size: 1.3rem;

}

.fpl {

  border-bottom: 1px double;

}

.smi {
  border-bottom: 1px double;
}

.ami {

  border-bottom: 1px double;
}

.programs {
  background: rgba(14, 175, 16, 0.815);
  padding: .75rem;
  border-radius: 5px;
  color: white;
  margin: 5px 10px;
  width: 25rem;
}