body {
    margin: auto;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(0, 0, 0);
  }

.alert {
    background: rgba(162, 156, 156, 0.815);
    padding: 1rem;
    border-radius: 5px;
    color: white;
    margin: 1rem;
}

.container {
  /*margin:auto;*/
  display: grid;
  border-style: solid;
  border-width: 1px;
  padding: auto;
  /*
  min-width: 600px;
  max-width: 1000px;
  */
  grid-template-columns: auto;
  grid-template-rows: 50px 2fr 1fr;
  row-gap: 10px;
  justify-content: center;
  grid-template-areas: 
      "header"
      "formdata"
      "results"
  }


  .formdata {
    grid-area: formdata;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    border-style: solid;
    border-width: 1px;
    padding-left: 5px;
    row-gap: 5px;
  }
    /*
    
    border-style: solid;
    border-width: 1px;

    row-gap: 5px;
    align-items: center;
    grid-template-areas:
        "required required"
        "income income"
        ". size"
        "optional optional"
        ". calculate"
    
  }
  */
  /*
  .household_income {
    grid-area: income;
    display: inline-grid;
    grid-template-columns: 150px 1fr 1fr;
    justify-content: center;
    align-items: center;
    
  }

  .select_income_type {
    margin: auto;
    border-radius: 10px;
    border-width: none;
    border-style: outset;
    padding: 5px 10px;
  }

  .enter_income {
    margin: auto;
    justify-content: left;
  }

  .household_size {
    grid-area: size;
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    
  }

  .enter_household_size {
    margin: auto;
    justify-content: left;
  }

  .optional_fields {
    grid-area: optional;
    display: inline-grid;
    border-style: solid;
    border-width: 1px;
    grid-template-columns: 150px 1fr 1fr;
    justify-content: left;
    align-items: center;
    text-align: center;
    
  }

  .children_in_household {

  }
  */

  .results {
    grid-area: results;
    border-style: solid;
    border-width: 1px;
    padding-left: 5px;
  }
  .income_measures {
    border-style: solid;
    border-width: 1px;
    padding: 5px;

  }
  .calculate {

    background-color: #4CAF50;
    width:80%;
    border-width: none;
    border-style: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    justify-content: center;
    align-items: center;
  }

  .programs {
    border-style: solid;
    border-width: 1px;
    background: rgba(15, 158, 206, 0.815);
    padding: 1rem;
    border-radius: 5px;
    color: white;
    margin: 1rem;

  }
 
 