

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: rgb(0, 0, 0);
  min-width: 200px;
  max-width: 300px;
  border-collapse:separate;
  border-spacing:0 5px;

}


.dob_field {
  font-size: 0.75rem;
  letter-spacing: normal;
}
.get_age {
  display: table-row;
  height: 20px;
}
.age_result {
  padding-left: 10px;
  display: inline;
  font-size: x-large;
  text-decoration: underline;
  text-decoration-style: double;
}

.household_size {
  display: table-row;
}

.form_input {
  box-sizing: border-box;
  padding-left: 20px;
}

label {
  display: table-cell;
  width: 15rem;
}
input {
  display: table-cell;
  padding: 4px;
  font-size: .9rem;
  letter-spacing: 1.2px;
  width: 110px;
  box-sizing: border-box; 
}

.household_income {
  display: table-row;
}

.income_type {
  display: table-cell;
}

.income_label {
  display: inline;
}

.select_income_type {
  padding: 7px 0px;
  cursor: pointer;
}

.dollar_span {
  display: inline-block;
  position: relative;
}

.dollar_span::before {
  content: "$";
  font-size: 1rem;
  color: rgb(52, 51, 51);
  position: absolute;
  left: 7.5px;
  top: 50%;
  transform: translateY(-50%);
}

.children_in_household {
  display: table-row;
}

.children_in_household input {
  display: table-cell;
  cursor: pointer;
  height: 1.5rem;
  width: 1.5rem;
  margin-left: auto;

}

.monthly_rent {
  display: table-row;
}

.calculate {
  display: inline-block;
  padding: 7px 9px;
  font-size: 20px;
  cursor: pointer;

  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 10px;
  box-shadow: 0 9px #999;
}

.calculate:hover {background-color: #3e8e41}

.calculate:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.income_measures {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: thick double;
  padding-top: 1rem;
  font-size: 1.1rem;

}


.programs {
  background: rgba(14, 175, 16, 0.815);
  padding: .5rem;
  border-radius: 5px;
  color: white;
  margin: 5px 10px;
  width: 90%;
}