body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(0, 0, 0);
  }

.alert {
    background: rgba(162, 156, 156, 0.815);
    padding: 1rem;
    border-radius: 5px;
    color: white;
    margin: 1rem;
}

.container {
  /*margin:auto;*/
  border-style: solid;
  border-width: 1px;
  display: grid;
  /*
  min-width: 600px;
  max-width: 1000px;
  */
  grid-template-columns: auto;
  grid-template-rows: 50px, 2fr, 1fr, auto;
  row-gap: 15px;
  justify-content: center;
  grid-template-areas: 
      "header"
      "formdata"
      "calculations"
      "programs";
  }


  .formdata {
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr,;
    grid-template-rows: auto;
    row-gap: 15px;
    grid-template-areas:
        "income income income"
        "size size size"
        ". children children";
       /* ". calculate monthly_rent";*/
  }

  .income_type {
    grid-area: income;
    width: 100%;
    /*padding: 16px 20px;*/
    border-radius: 4px;
    border-width: none;
    border-style: none;
    background-color: #d52424;
  }

  .calculate {
    background-color: #4CAF50; /* Green */
    border-width: none;
    border-style: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    /*display: inline-block;*/
    
  }